*{
  margin: 0;
  padding: 0;
}

.Header{
  background-color: aqua;
  width: 100%;
  height: 100px;
}

.Header .Nav ul li{
  list-style-type: none;
  float: left;
  padding: 40px;
  display: flex;
  position: relative;
  left: 625px;
}

.Footer{
  background-color:aquamarine;
  width: 100%;
  height: 100px;
}

.Router{
  width: 100%;
  height: 808px;
  background-color:azure;
}
