.input {
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 250px;
    margin-right: 8px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

.input:focus {
    outline: none;
    border-color: #4CAF50;
}

.button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    color: white;
    margin-left: 8px;
    transition: background-color 0.3s ease;
}

.button.add {
    background-color: #4CAF50; /* Yeşil arka plan */
}

.button.add:hover {
    background-color: #45a049; /* Hover rengi */
}