body{
    margin: 0px;
    padding: 0px;
    border: 0;
    border-spacing: 0px;
}

.menu{
    height: 15%;
    width: 100%;
    font: 20px bold tahoma;
    color: white;
    background-color:whitesmoke;
}

.main{
    height: 661px;
    width: 100%;
    background-color: bisque;
}